$main-dark:#282D30;
$main-red: #C3002F;
$main-grey: #DADADA;
$bg-list: #F5F6F6;
$text-grey: #8B8B8B;
$select-color-1: #FFFFFF;
$select-color-2: #000000;
$select-color-3: #C4C4C4;
$select-color-4: #DD1C10;
$select-color-5: #77CF61;
   
$width-brekpoint: 720px;   